td input {
  border: 0;
  background-color: #eaf2fd;
}

td input:focus {
  color: white;
  background-color: #0e3e7f;
}

h3 input {
  border: 0;
}

.btn-primary {
  color: white;
  background-color: #0e3e7f;
  border-color: #0e3e7f; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: white;
  background-color: #0d3872;
  border-color: #0d3872; /*set the color you want here*/
}
.controls {
  color:#0e3e7f;
  cursor: pointer;
}
.controls:hover {
  outline: 1px solid #0e3e7f;
  border-radius: 2px;
}
.controls:focus {
  background-color: #0d3872;
  outline: 1px solid #0e3e7f;
  border-radius: 2px;
}
