<div style="
background-color: #0e3e7f;
padding-top: 100px;
padding-bottom: 100px;">
  <div style="color: white; margin-bottom: 60px; margin-right: 60px; display: grid; justify-content: end">
    <div>Доллар США $
      <span *ngIf="valutes.Valute.USD.Value > valutes.Valute.USD.Previous">
      <svg width="20" height="20" fill="#28bd3a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="m19.406 15.094-6.552-7.647a1.125 1.125 0 0 0-1.709 0l-6.552 7.647c-.625.73-.107 1.857.854 1.857h13.107c.96 0 1.479-1.128.852-1.857Z"></path>
      </svg>
    </span>
    <span *ngIf="valutes.Valute.USD.Previous > valutes.Valute.USD.Value">
      <svg width="20" height="20" fill="#bd2828" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="m4.594 8.912 6.553 7.646a1.126 1.126 0 0 0 1.708 0l6.552-7.646c.625-.73.107-1.857-.854-1.857H5.447c-.961 0-1.48 1.127-.853 1.857Z"></path>
      </svg>
    </span>
    — {{valutes.Valute.USD.Value}} руб.</div>
    <div>Евро €
      <span *ngIf="valutes.Valute.EUR.Value > valutes.Valute.EUR.Previous">
        <svg width="20" height="20" fill="#28bd3a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="m19.406 15.094-6.552-7.647a1.125 1.125 0 0 0-1.709 0l-6.552 7.647c-.625.73-.107 1.857.854 1.857h13.107c.96 0 1.479-1.128.852-1.857Z"></path>
        </svg>
      </span>
      <span *ngIf="valutes.Valute.EUR.Previous > valutes.Valute.EUR.Value">
        <svg width="20" height="20" fill="#bd2828" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="m4.594 8.912 6.553 7.646a1.126 1.126 0 0 0 1.708 0l6.552-7.646c.625-.73.107-1.857-.854-1.857H5.447c-.961 0-1.48 1.127-.853 1.857Z"></path>
        </svg>
      </span>
       — {{valutes.Valute.EUR.Value}} руб.</div>
      <div>Китайякий юань ¥
      <span *ngIf="valutes.Valute.CNY.Value > valutes.Valute.CNY.Previous">
        <svg width="20" height="20" fill="#28bd3a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="m19.406 15.094-6.552-7.647a1.125 1.125 0 0 0-1.709 0l-6.552 7.647c-.625.73-.107 1.857.854 1.857h13.107c.96 0 1.479-1.128.852-1.857Z"></path>
        </svg>
      </span>
      <span *ngIf="valutes.Valute.CNY.Previous > valutes.Valute.CNY.Value">
        <svg width="20" height="20" fill="#bd2828" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="m4.594 8.912 6.553 7.646a1.126 1.126 0 0 0 1.708 0l6.552-7.646c.625-.73.107-1.857-.854-1.857H5.447c-.961 0-1.48 1.127-.853 1.857Z"></path>
        </svg>
      </span>
        — {{valutes.Valute.CNY.Value}} руб.
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img [src]="news[0].image_url" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ news[0].title }}</h5>
        <p class="card-text">{{ news[0].description }}</p>
      </div>
      <div class="card-footer">
        <small class="text-m">Опубликовано: {{ news[0].pubDate }}</small>
        <a [href]="news[0].link" class="link" target="_blank">Подробнее...</a>
      </div>
    </div>
    <div class="card">
      <img [src]="news[1].image_url" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ news[1].title }}</h5>
        <p class="card-text">{{ news[1].description }}</p>
      </div>
      <div class="card-footer">
        <small class="text-m">Опубликовано: {{ news[1].pubDate }}</small>
        <a [href]="news[1].link" class="link" target="_blank">Подробнее...</a>
      </div>
    </div>
    <div class="card">
      <img [src]="news[2].image_url" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ news[2].title }}</h5>
        <p class="card-text">{{ news[2].description }}</p>
      </div>
      <div class="card-footer">
        <small class="text-m">Опубликовано: {{ news[2].pubDate }}</small>
        <a [href]="news[2].link" class="link" target="_blank">Подробнее...</a>
      </div>
    </div>
  </div>
</div>
<div style="background: url('../../assets/chart.png'); background-size: 120%;">
  <div style="backdrop-filter: blur(1.7px);">
    <div style="padding: 8px; padding-top: 200px; padding-bottom: 200px; margin-left: 20px; max-width: 60%;">
      <h1>О сайте</h1>
      <h3>Этот сайт предоставляет возможность хранения историй биржевых транзакций в виде таблиц!</h3>
      <h4>Есть возможность загрузки и выгрузки таблиц в XLSX формате!</h4>
      <h4>Уникальная формула расчета доходности! Может рассчитать доходность сделок с разным периодом инвестирования!</h4>
      <h4>Интересно? Тогда авторизуйся и попробуй!</h4>
    </div>
  </div>
</div>
