<div style="display: flex; width: 100%; height: calc(100vh - 169px); flex-flow: column;">
<div
  class="bg-image"
  style="
    background-color: #e4ecfc;
    height: 100vh;
  "
>
<div style="border-radius: 1rem; color: #052718; background-color: #3b4d3a;">
  <h1>Сайт биржевой статистики</h1>
  <h2>Независимое и удобное хранилище для истории ваших транзакций с возможностью расчета прибыли!</h2>
  <button class="btn btn-primary" style="margin-bottom: 4px; margin-left: 4px;">Попробовать прямо сейчас</button>
</div>
</div>
</div>
